.loaderWrapper {
  position: relative;
  width: 44px;
  height: 44px;
  perspective: 88px;
}

.loaderWrapper .loader {
  width: 100%;
  height: 100%;
  background: #aa1fef;
  position: absolute;
  left: 50%;
  transform-origin: left;
  animation: loader 2s infinite;
}

.loaderWrapper .loader:nth-child(1) {
  animation-delay: 0.15s;
}

.loaderWrapper .loader:nth-child(2) {
  animation-delay: 0.3s;
}

.loaderWrapper .loader:nth-child(3) {
  animation-delay: 0.45s;
}

.loaderWrapper .loader:nth-child(4) {
  animation-delay: 0.6s;
}

.loaderWrapper .loader:nth-child(5) {
  animation-delay: 0.75s;
}

@keyframes loader {
  0% {
    transform: rotateY(0deg);
  }

  50%, 80% {
    transform: rotateY(-180deg);
  }

  90%, 100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}
